# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

api_n_backend/web/index.html

api_n_backend/web/fonts/*

api_n_backend/web/css/app.css
api_n_backend/web/css/vendor.css

api_n_backend/web/js/app.js
api_n_backend/web/js/vendor.js

api_n_backend/web/images/*